h1{
    font-size: 75px;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

nav ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    margin: 5px;
    
}

nav ul li a{
    text-decoration: none;
}

/*Principal*/

body.index{
    background-image: url(../Imagenes/PornoYHelado2.png);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-color: #E56D93;
}

.sinopsis{
    font-size: 18px;
    margin-left: auto;
    margin-right: 20px;
    max-width: 320px;
    background: #ffffffb3;
    padding: 20px;
    border-radius: 10px; 
}

.sinopsis2{
    margin-top: 180px;
    font-size: 15px;
    margin-left: auto;    
    margin-right: 20px;
    max-width: 320px;
    background: #ffffffb3;
    padding: 20px;
    border-radius: 10px; 
}

/*Personajes*/

body.personajes{
    background-image: url(../Imagenes/NotasMusicales.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E56D93;
}

.Personajes img{
    border: 3px solid black;
}

.Personajes{
    height: 320px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 5px;
}

.Descripcion{
    max-width: 50%;
    text-align: center;
    font-size: 18px;
    margin: 70px;
    background: #ffffffb3;
    padding: 20px;
    border-radius: 10px; 
}

/*Capitulos*/

body.hits{
    background-image: url(../Imagenes/BochasDeHelado.png);
}

.hits h2{
    color: #ffffff;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

.Videos1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.Videos2{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.Video{
    text-align: center;
}